<h1>Contactos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.contact_name %></td>
        <td>
          
            <% if contact.project_id  %>
              <a href="#"  data-reveal-id="">Ver mas</a>              
               <div id="" class="reveal-modal" data-reveal>
                <%= contact.project_id %>
                <a class="close-reveal-modal">&#215;</a>
              </div>
           <% end %>
          
        </td>

        <td><%= link_to 'X', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


