<div class="row">
  <h2>Contactos</h2>
  <div class="small-8 medium-centered columns">
  <table class="table-custom">
      <thead>
        <tr class="titulo">
          <th><span>Nombre</span> </th>
          <th><span>Detalles</span></th>
          <th colspan="3"><span>Acciones</span></th>
        </tr>
      </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.contact_name %></td>
          <td>
              <% if contact.project_id  %>
                <a href="#"  data-reveal-id="">Ver mas</a>              
                 <div id="" class="reveal-modal" data-reveal>
                  <%= contact.project_id %>
                  <a class="close-reveal-modal">&#215;</a>
                </div>
             <% end %>
            
          </td>

          <td><%= link_to 'X', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>



