
<div class="row">
  <h2>Proyectos</h2>
  <div class="small-10 large-centered columns">
    <!--Campo de busqueda-->
  </div>
<div class="small-10 large-centered columns">
<div class="field">
  <%= label_tag(:q, "Buscar:") %>
  <%= text_field_tag(:q)%>

</div>
  <table class="table-custom">
    <thead>
      <tr class="titulo">
        <th><span>Nombre del Proyecto</span> </th>
        <th><span>Detalles</span></th>
        <th colspan="3"><span>Acciones</span></th>
      </tr>
    </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.project_name %></td>
            <td>  <% if project.id %>
            <a href="#"  data-reveal-id="myModal">Ver mas</a>              
            <div id="myModal" class="reveal-modal reveal-modal-custom" data-reveal>
              <div class="row">
                <section class="pop-head">
                  <label>Detalles</label>
                </section>
                <section class="pop-body">
                  <div class="small-12 column">
                    <div class="field">
                      <label>Nombre de la empresa:</label>
                    </div>
                  </div>
                  <div class="small-6 column">
                    <div class="field">
                      <label>Fecha de Inicio:</label>
                    </div>
                  </div>
                  <div class="small-6 column">
                    <div class="field">
                      <label>Fecha de fin:</label>
                    </div>
                  </div>
                  <div class="small-12 column">
                    <div class="field">
                      <label>Participantes</label>
                    </div>
                  </div>
                  <div class="small-12 columns">
                    <div id="grid_here" >
                      <div class="wishList-items">
                        <ul>
                          <li>Item 1<i class="icon-cross"></i></i></li>
                          <li>Item 2<i class="icon-cross"></i></i></li>
                          <li>Item 3<i class="icon-cross"></i></i></li>
                        </ul>
                      </div>
                    </div>
                      <button name="commit" type="submit" class="align-top">Aceptar</button>
                  </div>
              </section>
            </div>
          <% end %>
          </td>
           <td><%= link_to 'X', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
