color-font = #FFFCE1
color-font-sm = #F8F8F8
color-base = #333333
color-hover= #008CBA

/* --- iconos --- */
icon-change = 	'\e602'
icon-mail = 	'\f003'
icon-bell = 	'\f0a2'
icon-comment = 	'\f0e5'
icon-group = 	'\f037'
icon-help = 	'\f02c'
icon-users = 	'\e972'
icon-user = 	'\e60b'
icon-cross = 	'\e117'
icon-calendar = '\e600'
icon-badge = 	'\e601'
icon-spinner = 	'\e603'
icon-next = 	'\e604'
icon-begin = 	'\e605'
icon-home = 	'\e606'
icon-correct = 	'\e607'
icon-end = 	    '\e608'
icon-checkbox = '\e609'
icon-vcard = 	'\e60a'
icon-folder = 	'\e60c'
icon-books = 	'\e920'
icon-profile = 	'\e923'
icon-user-tie = '\e976'
icon-man-woman = '\e9de'
icon-search = 	'\f02e'
icon-menu = 	'\f05e'
icon-chevron-right = '\f079'
icon-settings = '\f085'
icon-chevron-down =  '\f0a3'
icon-desc = '\f160'
icon-asc = 	'\f161'
icon-border-bottom = '\f161'
icon-border-left = '\e60e'
icon-border-right = '\e60f'
icon-border-top = '\e610'
icon-preview = 	'\e007'
icon-side = '\e614'
icon-container = '\e612'
icon-text = '\f031'
icon-image = '\f03e'
icon-square = '\f096'
icon-newSection = '\e615'
icon-minus = '\e611'
icon-arrow = '\e616'
icon-move-vertical = '\e617'
icon-plus = '\f05d'
icon-copy = '\e92c'
icon-listpunto = '\e9bb'
icon-trash = '\e619'
icon-random = '\e618'
icon-save = '\f0c7'
icon-punto = '\e61a'
icon-chat = '\e61b'
icon-empresa = '\e903'
icon-add = '\e61c'
icon-emergencia = '\e998'

icomoon()
	font-family 'icomoon'
.icon-vcard::before
	content icon-vcard
	icomoon()	
.icon-user::before
	content icon-user
	icomoon()
.icon-bell::before
	content icon-bell
	icomoon()
.icon-comment::before
	content icon-comment
	icomoon()
.icon-mail::before
	content icon-mail
	icomoon()
.icon-help::before
	content icon-help
	icomoon()
.icon-change::before
	content icon-change
	icomoon()
.icon-group::before
	content icon-group
	icomoon()
.icon-users::before
	content icon-users
	icomoon()
.icon-user::before
	content icon-user
	icomoon()
.icon-cross::before
	content icon-cross
	icomoon()
.icon-calendar::before
	content icon-calendar
	icomoon()
.icon-badge::before
	content icon-badge
	icomoon()
.icon-spinner::before
	content icon-spinner
	icomoon()
.icon-next::before
	content icon-next
	icomoon()
.icon-begin::before
	content icon-begin
	icomoon()
.icon-home::before
	content icon-home
	icomoon()
.icon-correct::before
	content icon-correct
	icomoon()
.icon-end::before
	content icon-end
	icomoon()
.icon-checkbox::before
	content icon-checkbox
	icomoon()
.icon-folder::before
	content icon-folder
	icomoon()
.icon-books::before
	content icon-books
	icomoon()
.icon-profile::before
	content icon-profile
	icomoon()
.icon-user-tie::before
	content icon-user-tie
	icomoon()
.icon-man-woman::before
	content icon-man-woman
	icomoon()
.icon-search::before
	content icon-search
	icomoon()
.icon-menu::before
	content icon-menu
	icomoon()
.icon-chevron-right::before
	content icon-chevron-right
	icomoon()
.icon-settings::before
	content icon-settings
	icomoon()
.icon-chevron-down::before
	content icon-chevron-down
	icomoon()
.icon-desc::before
	content icon-desc
	icomoon()
.icon-asc::before
	content icon-asc
	icomoon()
.icon-border-bottom::before
	content icon-border-bottom
	icomoon()
.icon-border-left::before
	content icon-border-left
	icomoon()
.icon-border-right::before
	content icon-border-right
	icomoon()
.icon-border-top::before
	content icon-border-top
	icomoon()
.icon-preview::before
	content icon-preview
	icomoon()
.icon-side::before
	content icon-side
	icomoon()
.icon-container::before
	content icon-container
	icomoon()
.icon-text::before
	content icon-text
	icomoon()
.icon-image::before
	content icon-image
	icomoon()
.icon-square::before
	content icon-square
	icomoon()
.icon-newSection::before
	content icon-newSection
	icomoon()
.icon-minus::before
	content icon-minus
	icomoon()
.icon-arrow::before
	content icon-arrow
	icomoon()
.icon-move-vertical::before
	content icon-move-vertical
	icomoon()
.icon-plus::before
	content icon-plus
	icomoon()
.icon-copy::before
	content icon-copy
	icomoon()
.icon-listpunto::before
	content icon-listpunto
	icomoon()
.icon-trash::before
	content icon-trash
	icomoon()
.icon-random::before
	content icon-random
	icomoon()
.icon-save::before
	content icon-save
	icomoon()
.icon-punto::before
	content icon-punto
	icomoon()
.icon-chat::before
	content icon-chat
	icomoon()
.icon-empresa::before
	content icon-empresa
	icomoon()
.icon-add::before
	content icon-add
	icomoon()
.icon-emergencia::before
	content icon-emergencia
	icomoon()html
	font-family: 'Lato', sans-serif;
h1
	color white
h2
	font-family: 'Open Sans', sans-serif;
	margin-bottom 50px
p
	font-size 16px
	margin-top 5px
.top-bar-section-custom
	ul
		&.right
			li
				a:hover
					color color-hover !important
.table-custom
		width 100%
		margin-top 10px
		thead
			tr
				border 1px solid #D6D6D6
				
				&.titulo
					background-color color-base
					span
						color #fff
				th.min
					width 100px
		tbody
			tr
				td
					a
						color #000 !important
						&:hover
							background-color transparent
							color color-hover !important
								
button
	&.fontButton
		a
			color #fff !important
			background-color none
			&:hover
				background-color transparent
.participantes
	width 80%
	height 150px
	border 1px solid #C3C3C3
	border-radius 5px
	margin-top 25px
	margin-bottom 30px
.list
	list-style none
	li
		margin-top 15px
		font-size 16px
		i
			float right
			margin-right 20px
			color red
			font-size 16px
			&:hover
				cursor  pointer
				
