<div class="row">
  
    
    <div class="small-6 columns">
      <div class="field">
        <%= label_tag :Actividad %><br>
        <%= text_field_tag :activity_name %>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="field">
        <%= label_tag :description %>
        <%= text_field_tag :Breve_Descripcion %><br>
      <button name="commit" type="submit" >Agregar</button>
      </div>
    </div>
    <div class="small-12 columns">
     <div id="grid_here" >
              </div>
              <button name="commit" type="submit" >Siguiente</button>
    </div>
    

</div>
