<div class="row">
  <h2>Wish List</h2>
    <div class="small-12 columns">
      <div class="field">
        <%= label_tag :Actividad %><br>
        <%= text_field_tag :activity_name %>
      </div>
    </div>
    <div class="small-10 columns">
      <div class="field">
        <%= label_tag :description %>
        <%= text_field_tag :Breve_Descripcion %><br>
      </div>
    </div>
    <div class="small-2 columns">
      <button name="commit" type="submit" class="align-top-min">Agregar</button>
    </div>
    <div class="small-12 columns">
      <div id="grid_here" >
        <div class="wishList-items">
          <ul>
            <li>Item 1<i class="icon-spinner"></i><i class="icon-cross"></i></i></li>
            <li>Item 2<i class="icon-spinner"></i><i class="icon-cross"></i></i></li>
            <li>Item 3<i class="icon-spinner"></i><i class="icon-cross"></i></i></li>
          </ul>
        </div>
      </div>
        <button name="commit" type="submit" class="align-top">Siguiente</button>
    </div>
    

</div>
