<div class="row">
  <h2>Lista de Actividades</h2>

  <div class="field">
  <%= label_tag(:q, "Buscar proyectos:") %>
  <%= text_field_tag(:q) %>
  
  <div>
  <p> por hacer</p>
  <div >
  items
  </div>
  </div>
  <div>
  <p> haciendo</p>
  <div >
  items
  </div>
  </div>
  <div>
  <p> hecho</p>
  <div >
  items
  </div>
  </div>
</div>
</div>
<br>


